.aboutcontainer {
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
#about h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}


p {
  color: #666;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.brand-image {
  text-align: center;
  margin-bottom: 30px;
}

.brand-image img {
  max-width: 200px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #eb0936;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #0074d9;
}