.plan-container {
  margin: 0 auto;
  padding: 40px;
  max-width: 100%;
}

.plan-container h1 {
  font-weight: bold;
  font-size: 2rem;
}

#comparison h2,
#instagram-youtube h2 {
  font-weight: bold;
  color: #000;
  font-size: 2rem;
}

h3,
#instagram-youtube p {
  color: #333;
  font-weight: bold;
}

.plan,
#instagram-youtube {
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 100%;
}

.plan:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.plan h3,
#instagram-youtube h2 {
  font-weight: bold;
  margin-bottom: 10px;
  color: #eb0936;
}

.plan ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 10px;
  color: #666;
}

#comparison {
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  margin-bottom: 20px;
}

#comparison table {
  border-collapse: collapse;
  width: auto;
  min-width: 100%;
}
/* horizontal scroll for smaller devices */
@media (max-width: 532px) {
  
.scroll-horizontal{
  display: block;
  text-align: center;
  color: #eb0936;
}
  
}

  @media (min-width: 532px) {
  .scroll-horizontal{
    display: none;
  }}


#comparison th,
#comparison td {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: rgb(200, 228, 228);
  white-space: normal;
}

#comparison th {
  background-color: rgb(200, 228, 228);
  font-weight: bold;
  text-align: left;
}
.download-button {
  text-align: center;
  margin-top: 20px;
}

.download-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #eb0936;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.plan-container {
  animation: fadeIn 0.5s ease;
}

.plan {
  animation: slideUp 0.5s ease;
}

@media screen and (max-width: 768px) {
  .plan-container {
    padding: 20px;
  }

  #comparison table {
    font-size: 14px;
  }
}
